html{
    font-size:100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif ;
  color: var(--textColor);
  background-color: #f4fffb9c;
  font-size: 1.5rem;
  line-height: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 1.05rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.15;
  }
  h1 {
    margin-top: 0;
    font-size: 3.052em;
    font-weight:bold;
  }
  
  h2 {font-size: 2.441em;
    font-weight:bold;}
  
  h3 {font-size: 1.953em;
    font-weight:bold;}
  
  h4 {font-size: 1.563em;}
  
  h5 {font-size: 1.25em;}
  
  p{margin:10px 0;}


  ul{
    list-style: none;
    
  }
  ul li a{
    text-decoration: none;
  }

  .center{
    text-align: center;
    margin:0 auto;
  }
  /* custom */
  #HomePage,#About{
    background: #ebebff;
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  .home{
    
  }
  .Tile{
  
  }
  .Tile h2{
    margin:0;
    font-weight: 800;
    color:#07042c;
  }
  .Tile p{
    font-size: 1rem;
  }
  .homeIllustration{
    width:100%;
    height: auto;
  }
  .btn{
    display: inline-block;
    position: relative;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-transform: Capitalize;
    border:2px solid transparent;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    background:#0084ff;
    color:#fff;
    transition:.3s;
  }
  .btn:hover{
    background:#0054a3;
    color:#fff;
  }
  .btn-full-width{
    padding: 13px 25px;
    width: 100%;
    margin-top: 50px;
    border-radius: 50px;
  }
  /* nav */
  .myLogo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    color:#fff;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .myLogo strong{
    font-weight: 600;
    color:#88edff;
  }
  #navBarContain{
    background:#070320;
    color:#fff;
  }
  .navBar{
    padding:30px 0;
    display:flex;
    align-items: center;
    justify-content:space-between;
  }
  .navUl{
    font-size: 1.1rem;
    display:flex;
    justify-content:space-between;
  }
  .navA{
    color:#fff;
    transition:.5s;
  }
  .navA:hover{
    color:#0084ff;
  }

.register{
  display: block;
    flex-direction: column;
    background: #070320;
    border-radius: 5px;
    padding: 40px;
    max-width: 600px;
    margin: auto;
}
label{
  text-align: left;
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 40px 0 20px;
}
input{
  font-size: 1.3rem;
  line-height: 2rem;
    padding: 15px;
    min-width: 100%;
    display: block;
    margin: auto;
    border:4px solid transparent;
    outline: none;
    transition:.5s;
}
input:focus{
  
  border-bottom:4px solid rgb(0, 132, 255);
}