.card {

   

    $card-col-fg: white;
    $card-col-bg: #3979B7;
    $card-col-bg-1: #7E3F82;
    $card-col-bg-2: #39B764;
    $card-col-bg-3: #CC3F82;
    $card-col-bg-3: #CC3F82;
    $card-col-bg-4: #EF7C2B;

    display: inline-block;
    flex: 1;
    position: relative;
    min-width: 300px;
    height: 10rem;
    margin: .1rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    color: $card-col-fg;
    background-color: $card-col-bg;
    overflow: hidden;


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Information circle icon  ----- // 

    &__icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        width: 50px;
        line-height: 2rem;
        text-align: center;

        transition: all 0.2s ease-in-out;
    }
    

    // ----- Growing circle jazz ----- // 

    &__circle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        opacity: 0.2;

        transition: all 0.4s ease-in-out;

    }


    // ----- Card copy ----- // 

    > p {
        position: relative;
        top: 50%;
        margin: 0 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        transform: translateY(-50%);

        transition: all 0.2s ease-in-out;
    }



    // -------------------------------------
    //   Variants
    // -------------------------------------
    

    // ----- BGColor variations ----- // 

    &--alt-1 { background-color: $card-col-bg-1; }
    &--alt-2 { background-color: $card-col-bg-2; }
    &--alt-3 { background-color: $card-col-bg-3; } 
    &--alt-4 { background-color: $card-col-bg-4; } 
    
    
    
    // -------------------------------------
    //   States
    // -------------------------------------
    

    // ----- Hover ----- // 

    &:hover {

        .card__circle {
            transform: scale(70);
            opacity: 0.8;
        }

        > p,
        .card__icon { color: #45556E; }

    }

}

// -------------------------------------
//   Container & Etc
// -------------------------------------

.container {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}