.search {
  border: 3px solid #04ca88;
  border-radius: 50px;
  width: 42px;
  height: 42px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border: none;
  width: 560px;
  border-radius: 3px;
}

.search.open:before {
  z-index: 9;
  background-color: var(--hove);
  height: 30px;
  margin: 6px 10px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-box {
  display: none;
  width: 76%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: #02031f;
  padding: 0 0px 0 20px;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 1.9rem;
}

.open .search-box {
  display: block;
}

.search-box:focus {
  outline: none;
  width: 76%;
}

.search-box::-webkit-input-placeholder {
  font-weight: 400;
}

.search-box:-ms-input-placeholder {
  font-weight: 400;
}

.search-box::-ms-input-placeholder {
  font-weight: 400;
}

.search-box::placeholder {
  font-weight: 400;
}

.search-button {
  background: transparent;
  height: 100%;
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -2px;
  top: 0;
  cursor: pointer;
}

.open .search-button {
  background: var(--hove);
  right: 0;
}

.search-icon {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 3px solid var(--hove);
  display: block;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search-icon:before {
  content: '';
  width: 3px;
  height: 12px;
  position: absolute;
  right: -6px;
  top: 11px;
  display: block;
  background-color: var(--hove);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-50deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: none;
  background-color: var(--hove);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.open .search-icon {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  border: 3px solid transparent;
}

.open .search-icon:before {
  background: #fff;
  -webkit-transform: rotate(52deg);
          transform: rotate(52deg);
  right: 10px;
  top: 8px;
  height: 18px;
}

.open .search-icon:after {
  display: block;
  background: #fff;
  -webkit-transform: rotate(-230deg);
          transform: rotate(-230deg);
  right: 10px;
  top: -2px;
  height: 18px;
}

.select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
  position: relative;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
}

.open .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select span {
  position: relative;
  padding: 6px 0 6px 12px;
  border-left: 1px solid #2A2E37;
}

.select span:before {
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  right: -7px;
  top: 11px;
  display: block;
  background-color: var(--hove);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: all 0.5s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select span:after {
  content: '';
  width: 1px;
  height: 12px;
  position: absolute;
  right: -13px;
  top: 7px;
  display: block;
  background-color: var(--hove);
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg);
  -webkit-transition: all 0.5s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bum .select span:before {
  height: 8px;
  background-color: #2A2E37;
  right: -7px;
  top: 11px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

.bum .select span:after {
  height: 8px;
  right: -12px;
  top: 11px;
  -webkit-transform: rotate(399deg);
          transform: rotate(399deg);
  background-color: #2A2E37;
}

.selectList {
  position: absolute;
  top: 42px;
  width: 100%;
  background: #f7f7f7;
  display: none;
  -webkit-animation: flip 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.475) both;
          animation: flip 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.475) both;
}

.bum .selectList {
  display: block;
}

.selectList ul {
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  list-style: none;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.137), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
          box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.137), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.selectList ul li:nth-child(odd) {
  border-left: 4px solid transparent;
  padding: 10px 10px;
  background: #ececec;
}

.selectList ul li:nth-child(even) {
  border-left: 4px solid transparent;
  padding: 10px 10px;
  background: #f5f5f5;
}

.selectList ul li {
  -webkit-transition: border-left 1s ease-out , letter-spacing .4s, background .4s;
  transition: border-left 1s ease-out , letter-spacing .4s, background .4s;
}

.selectList ul li a {
  color: #2A2E37;
}

.selectList ul li:last-child {
  border-radius: 0 0 5px 5px;
}

.selectList ul li:hover {
  border-color: var(--hove);
  letter-spacing: 2px;
  background: #fff;
}

.down {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.filterBar {
  position: relative;
  z-index: 899;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  height: 72px;
  padding: 0px 22px;
  color: #9b9b9b;
  font-size: 1.6rem;
  font-weight: 700;
}

.filterBar .sortBy {
  margin-right: 12px;
}

.filterBar .btnFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 4px 12px;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
}

.filterBar .btnFilter:hover {
  background: #b7fccfb2;
}

.filterBar .btnFilter:hover .deco {
  background: #8ff8b6b2;
}

.filterBar .btnFilter .deco {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #95ffba6b;
  padding: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.filterBar .btnFilter .deco i {
  margin: auto;
}

.filterBar .filterBtnActive {
  background: var(--hove);
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.filterBar .filterBtnActive:hover {
  background: var(--hove);
}

.filterBar .select2 {
  position: relative;
  padding: 9px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 4px;
  border-radius: 3px;
  border: 2px solid #56cb7f;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #56cb7f;
  font-weight: 700;
}

.filterBar .select2:hover {
  background: var(--hove);
  color: #fff;
  border-color: transparent;
}

.filterBar .select2:hover .selectList2 {
  display: block;
}

.filterBar .select2 span {
  font-size: 1.6rem;
}

.filterBar .select2 .selectList2 {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  -webkit-animation: flip 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.475) both;
          animation: flip 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.475) both;
}

.filterBar .select2 .selectList2 ul {
  border-radius: 0 0 5px 5px;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-shadow: 0 43px 20px -6px rgba(50, 50, 93, 0.137), 0 -6px 1px -6px rgba(0, 0, 0, 0.025);
          box-shadow: 0 43px 20px -6px rgba(50, 50, 93, 0.137), 0 -6px 1px -6px rgba(0, 0, 0, 0.025);
}

.filterBar .select2 .selectList2 ul li {
  border-left: 4px solid transparent;
  padding: 10px 10px;
  background: #ececec;
  color: #2A2E37;
  font-size: 1.4rem;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.filterBar .select2 .selectList2 ul li:nth-child(odd) {
  background: #f3f3f3;
}

.filterBar .select2 .selectList2 ul li:hover {
  background: #fff;
  border-left: 4px solid var(--hove);
  letter-spacing: 2px;
  cursor: pointer;
}

.filterBar .select2 .selectList2 ul li a {
  color: #2A2E37;
}

.filterPageContent {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #9b9b9b;
}

.filterPageContent .filterPageNum {
  font-size: 1.6rem;
}

.filterPageContent .filterPageNum span {
  color: var(--hove);
}

.filterPageContent .filterPageControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 40px;
  background: #f3f3f3;
  margin-left: 10px;
  border-radius: 3px;
}

.filterPageContent .filterPageControl .PageLeft {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filterPageContent .filterPageControl .PageLeft:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  display: block;
  width: 1px;
  height: 38px;
  background: rgba(151, 151, 151, 0.171);
}

.filterPageContent .filterPageControl .PageLeft i {
  margin: auto;
  font-weight: 700;
  color: var(--hove);
}

.filterPageContent .filterPageControl .PageDis {
  background: #f7f7f7;
}

.filterPageContent .filterPageControl .PageDis i {
  color: #d8d8d8;
}

.pop #logo {
  -webkit-animation: jello 1.3s  ease;
          animation: jello 1.3s  ease;
}

.pop #btnModal {
  -webkit-animation: jello .8s ease 1s 2;
          animation: jello .8s ease 1s 2;
}
/*# sourceMappingURL=style.css.map */